## Challenging Python Programming Exercises Questions

1-A program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [1]:
l = []
for i in range (2000, 3201):
    if (i%7 ==0) and (i%5!=0):
        l.append(str(i))
print(','.join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

2-A program which can compute the factorial of a given numbers. The results should be printed in a comma-separated sequence on a single line. Suppose the following input is supplied to the program: 8 Then, the output should be: 40320

In [2]:
def fact(x):
    if x==0:
        return 1
    return x*fact(x-1)
x=int(input())
print(fact(x))

10
3628800

3-With a given integral number n, a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary. Suppose the following input is supplied to the program: 8 Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [4]:
n = int(input())
d= dict()
for i in range(1,n+1):
    d[i]=i*i
    
print(d)

8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

4-A program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number. Suppose the following input is supplied to the program: 34,67,55,33,12,98 Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

In [7]:
values = input()
l= values.split(',')
t= tuple(l)
print(l)
print(t)

67,89,87,33,45
['67', '89', '87', '33', '45']
('67', '89', '87', '33', '45')

5-Write a program that calculates and prints the value according to the given formula: Q = Square root of [(2 * C * D)/H] Following are the fixed values of C and H: C is 50. H is 30. D is the variable whose values should be input to your program in a comma-separated sequence. Example Let us assume the following comma separated input sequence is given to the program: 100,150,180 The output of the program should be: 18,22,24

In [9]:
import math 
c= 50
h=30
value = []
item = [x for x in input().split(',')]
for d in item:
    value.append(str(int(round(math.sqrt(2*c*float(d)/h)))))

print(','.join(value))

100,150,180
18,22,24

6-Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically. Suppose the following input is supplied to the program: without,hello,bag,world Then, the output should be: bag,hello,without,world

In [10]:
items=[x for x in input().split(',')]
items.sort()
print(','.join(items))

without,hello,bag,world
bag,hello,without,world

7-Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized. Suppose the following input is supplied to the program: Hello world Practice makes perfect Then, the output should be: HELLO WORLD PRACTICE MAKES PERFECT

In [ ]:
lines = []
while True:
    s = input()
    if s:
        lines.append(s.upper())
    else:
        break;
for sentence in lines:
    print(sentence)

8- Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically. Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again Then, the output should be: again and hello makes perfect practice world

In [14]:
s = input()
words = [word for word in s.split(' ')]
print(' '.join(sorted(list(set(words)))))

hello world and practice makes perfect and hello world again
again and hello makes perfect practice world

9-Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence. Example: 0100,0011,1010,1001 Then the output should be: 1010 Notes: Assume the data is input by console.

In [15]:
value = []
items = [x for x in input().split(',')]
for p in items:
    intp = int(p,2)
    if not intp%5:
        value.append(p)
print(','.join(value))

0100,0011,1010,1001
1010

10-Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters. Suppose the following input is supplied to the program: Hello world! Then, the output should be: UPPER CASE 1 LOWER CASE 9

In [16]:
s = input()
d= {'UPPER CASE':0 , 'LOWER CASE':0}
for c in s:
    if c.isupper():
        d['UPPER CASE']+=1
    elif c.islower():
        d['LOWER CASE']+=1
    else:
        pass
print('UPPER CASE', d['UPPER CASE'])
print('LOWER CASE',d['LOWER CASE'])

Hello world!
UPPER CASE 1
LOWER CASE 9

11-Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers. Suppose the following input is supplied to the program: 1,2,3,4,5,6,7,8,9 Then, the output should be: 1,3,5,7,9

In [18]:
value = input()
numbers = [x for x in value.split(',') if int(x)%2!=0]
print(','.join(numbers))

1,2,3,4,5,6,7,8,9
1,3,5,7,9

12-Define a class with a generator which can iterate the numbers, which are divisible by 7, between a given range 0 and n.

In [21]:
def putNumbers(n):
    i = 0 
    while i < n:
        j=i
        i = i+1
        if j%7==0:
            yield j
for i in putNumbers(100):
    print(i)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

https://github.com/zhiwehu/Python-programming-exercises/blob/master/100%2B%20Python%20challenging%20programming%20exercises%20for%20Python%203.md